.table {
  margin: 5px;
  display: grid;
  max-width: 1024px;
  grid-template-columns: 1fr 1fr 1fr 1fr minmax(130px, 3fr);
  background-color: rgb(245, 245, 245);
  color: #444;
  border-radius: 5px;
}

/* .compare {
  margin: 5px;
  display: grid;
  max-width: 968px;
  grid-template-columns: 1fr minmax(130px, 5fr) 1fr;
  background-color: rgb(245, 245, 245);
  color: #444;
  border-radius: 5px;
}

.compare_chart {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  font-size: 14px;
} */

.table-header {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  font-size: 14px;
}
.table-data {
  position: relative;
}

.table-data p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.table-cell {
  position: relative;
  border-top: 1px solid rgb(190, 190, 190);
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  font-weight: 500;
}

.table-chart {
  padding-top: 15px;
  color: #000;
}

.container {
  border: 1px solid black;
  background-color: rgb(245, 245, 245);
}

.linechart_path {
  stroke-width: 4;
  fill: none;
}

.linechart_axis {
  stroke: #bdc3c7;
}

#footer {
  background: rebeccapurple;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compare_button {
  padding: 1em 1.5em;
  text-decoration: none;
  background-color: #fb8400;
  color: white;
}

@media screen and (min-width: 421px) {
  .compare_chart {
    margin: 10px;
    border: 1px solid;
  }
  .chart_width {
    width: 600px;
  }
}

/* On screens that are 420px or less, set the background color to olive */
@media screen and (max-width: 420px) {
  .compare_chart {
    padding: 10px;
  }
  .chart_width {
    max-width: 300px;
  }
}
