.table {
  margin: 5px;
  display: grid;
  max-width: 1024px;
  grid-template-columns: 1fr 1fr 1fr minmax(130px, 3fr);
  background-color: rgb(245, 245, 245);
  color: #444;
  border-radius: 5px;
}

.table-header {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  font-size: 14px;
}
.table-data {
  position: relative;
}

.table-data p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.table-cell {
  position: relative;
  border-top: 1px solid rgb(190, 190, 190);
  background-color: rgb(245, 245, 245);
  font-size: 14px;
  font-weight: 500;
}

.table-chart {
  padding-top: 15px;
  color: #000;
}

.container {
  background-color: rgb(245, 245, 245);
}

.linechart_path {
  stroke-width: 4;
  fill: none;
}

.linechart_axis {
  stroke: #bdc3c7;
}
